<header class="flex justify-between">
  <a routerLink="/home"><img src="logo-h.png" alt=""></a>
  <nav class="space-x-14 font-semibold text-neutral-500/80">
    <a routerLink="/home" class="text-[#ff2e6b] underline decoration-2 underline-offset-8">Home</a>
    <a>Pesquisa</a>
    <a>Sobre</a>
  </nav>

  <!-- OFF -->
   @if (!context.login()) {
    <div class="space-x-4 text-sm font-bold">
      <button routerLink="/signup" class="p-2 px-4 rounded-xl text-[#ff2e6b] bg-white ">
        Registre-se grátis
      </button>
      <button routerLink="/login"class="p-2 px-4 rounded-xl text-white bg-[#ff2e6b]">
        Login
      </button>
    </div>
  } @else {
    <!-- ON -->
    <div class="flex items-center gap-3.5">

      <div class="flex justify-center items-center w-8 h-8 rounded-full overflow-hidden outline outline-2 outline-white/50">
        <img [src]="context.userInfo()?.user?.image" class="bg-white w-14 h-14 object-cover">
      </div>
      <div class="relative flex flex-col text-sm">
        <p class="font-semibold leading-4 w-[160px] overflow-hidden text-ellipsis whitespace-nowrap">{{ context.userInfo()?.user?.name }}</p>
        <p class="text-[13px] text-neutral-600">{{ context.userInfo()?.user?.email }}</p>
        <!-- <div class="absolute top-9 flex gap-2 text-nowrap items-center text-neutral-600 rounded-xl opacity-50">
          <p class="font-semibold">DevMode:</p>
          <p>{{ devInfo().money | currency : 'BRL' }}</p>
        </div> -->
      </div>
      <button (click)="logout()" class="w-10 h-10 flex justify-center items-center rounded-xl bg-[#ff2e6b]">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7 19H3C2.46957 19 1.96086 18.7893 1.58579 18.4142C1.21071 18.0391 1 17.5304 1 17V3C1 2.46957 1.21071 1.96086 1.58579 1.58579C1.96086 1.21071 2.46957 1 3 1H7M14 15L19 10M19 10L14 5M19 10H7" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>
  }

</header>